.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: #f6f6f6;
}

.word {
    font-size: 24px;
    color: green;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Sans Forgetica', sans-serif;
}

.short i {
    color: #00bd00;
    font-style: normal;
}

.short,
.long {
    text-align: justify;
    padding: 16px;
}

.short {
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.long {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 19px;
    color: #2b2b2b;
    padding-top: 0px;
}

.long i {
    font-weight: bold;
    font-style: normal;
}

#typeans {
    font-family: Courier New;
    max-width: 260px;
    text-align: center;
    margin-bottom: 16px;
    color: green;
}

.replaybutton {
    display: none;
}

.mobile .replaybutton {
    display: inline-block;
}

.box {
    padding: 2px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin: auto;
    max-width: 500px;
}

.hidden {
    visibility: hidden;
}

.word-back {
    padding-bottom: 2px;
}