/*
Original template by: Huang, Author of ODH (Chrome extension)
Modified by Zhenkai W.
*/

.card {
    margin: 12px;
    text-align: center;
    background: url(_BKGD_GEN_Pattern-slants.jpg) center center fixed;
    background-size: cover;
}

.section {
   
    color: #414141;
    background-color: rgba(255,255,255,0.95);
    font-family: "Courier New", monospace;
    font-size: 16px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3), 0 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 12px 0;
}

.item {
    margin: 0 12px;
    padding: 10px 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

hr {
    border: 0;
    margin: 0 12px;
    border-top: 1px solid #e5e5e5;
}

#front, #back { line-height: 1.5em; }
#front-extra1 { font-size: 0.8em;}
#back-extra2 { padding-bottom: 0;}
